<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header text-center">
    Código da Conta: <b><%= @account.id %></b>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Conta: <b><%= @account.name %></b></h5>
    <h5 class="card-title">Saldo: <b><%= real(@account.balance.amount) %></b></h5>
    <p class="card-text">
      Status da Conta: <b><%= @account.status ? "Ativa" : "Inativa" %></b>
    </p>
    <%= render 'deposits', account: @account.balance %>
    <%= render 'withdraws', account: @account.balance %>
    <%= render 'transfers', account: @account.balance %>
    <br>
    <br>
    <%= link_to 'Editar', edit_account_path(@account), class: 'btn btn-warning' %> | <%= link_to 'Voltar', accounts_path, class: 'btn btn-secondary' %>
  </div>
   <div class="card-footer text-muted text-center">
    Criada em: <b><%= br_date(@account.created_at) %></b>
  </div>
</div>

<br>
<%= render 'transactions' %>